/* ------------INDEX PAGE MEDIAQUARIES------------------------ */


/* ------------------------------------------------------------- */

@media (max-width: 1000px) {
    body {
        font-size: 0.6em;
    }
    .navmenu {
        width: auto;
        display: flex;
        flex-direction: row;
        text-shadow: 1px 1px 1px;
        margin-left: 2em;
    }
    .navmenu ul {
        margin: 0;
    }
    header {
        margin-top: 3.1em;
    }
    .panorama-caption {
        margin: 0 1em;
    }
    article img {
        width: 100%;
        float: none;
    }
    .main-text {
        line-height: 1.8;
        font-weight: 100;
        column-count: 1;
        margin: 0em 1em 0 1em;
        width: 50vh;
    }
    .container {
        display: inline;
    }
    #sidebar-picture {
        width: 30%;
        float: right;
        margin-right: 1em;
        padding-left: 2em;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        margin: 1em 1.5em 2em 1em;
        width: 93%;
        height: 65em;
    }
    .sidebar-header {
        height: 0.2em;
        width: 90%;
        padding-bottom: 10%;
    }
    footer {
        text-align: center;
        justify-content: center;
        line-height: 1.7em;
    }
    .trademark {
        color: whitesmoke;
        text-align: center;
        margin-top: 1em;
    }
    /* ----------------BLOG PAGE MEDIAQUARIES------------------------ */
    /* ------------------------------------------------------------- */
    .wrapper,
    .wrapper-bio {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    article {
        margin-top: 3em;
    }
    p,
    h1 {
        margin: 0;
        padding: 0.5em;
    }
    .bio {
        width: 90%;
        margin: 1em;
    }
    #bio-photo {
        height: 25em;
    }
    .wrapper-bio {
        height: 100%;
    }
}